# ManipulaÃ§Ã£o de dados tabulares - Pandas e alternativas
> Pandas, SQL e comparaÃ§Ãµes (Dask, Polars, Datatable, PandaSQL e DuckDB)

- toc: true 
- badges: true
- comments: true
- categories: [demo, sql, pandas, duckdb, dask, datatable, polars, tabelas, benchmarks]
- image: https://images.unsplash.com/photo-1526716121440-dc3b4f254a0a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80

# IntroduÃ§Ã£o

Em machine learning, a gente sempre comenta como nÃ³s precisamos de dados. E precisamos de dados bem curados. Talvez vocÃª atÃ© jÃ¡ tenha ouvido a frase: "garbage in, garbage out", nÃ©?

Na vida real, isso Ã© bem verdade. E gastar mais tempo criando novas features, ou limpando os dados acaba muitas vezes impactando os resultados dos modelos mais que qualquer outra coisa. NÃ£o Ã© Ã  toa que grande parte dos ganhadores das competiÃ§Ãµes do [Kaggle](https://www.kaggle.com/) usam os mesmo modelos - [ensembles](https://towardsdatascience.com/xgboost-lightgbm-and-other-kaggle-competition-favorites-6212e8b0e835). E, na maior parte, quem ganha sÃ£o os que tem os melhores dados.

EntÃ£o, antes de mexermos em modelos, temos que manipular os dados. Mas entÃ£o como manipular esses dados?

## Pandas

A resposta mais comum Ã© [pandas](https://pandas.pydata.org/)! Se vocÃª jÃ¡ mexeu com dados, provavelmente jÃ¡ ouviu falar sobre essa biblioteca. Ela Ã©, de longe, a mais popular pra manipulaÃ§Ã£o de dados tabulares. Ela foi construÃ­da em cima de [NumPy](https://numpy.org/), que usa C++ por trÃ¡s dos panos.

> Em Python temos o GIL que limita o uso de threads pra evitar que mais de um thread tente escrever/apagar as mesmas partes da memÃ³ria ao mesmo tempo ([condiÃ§Ã£o de corrida](https://pt.wikipedia.org/wiki/Condi%C3%A7%C3%A3o_de_corrida)). Quando usamos Numpy e chegamos no nÃ­vel de C, o programa nÃ£o estÃ¡ sujeito ao GIL e entÃ£o podemos parallelizar as coisas.

Mas se vocÃª jÃ¡ ouviu falar de pandas, Ã© capaz que nÃ£o tenha ouvido coisas boas. Especialmente quem vem da linguagem de programaÃ§Ã£o em R usando o [dplyr](https://dplyr.tidyverse.org/) tem o que falar ğŸ˜…. O nÃºmero de perguntas no [StackOverflow](https://stackoverflow.com/) relacionadas Ã  pandas cresceu bastante durante os anos. Parte pelo aumento em popularidade da biblioteca, mas parte pela dificuldade da API do pandas.

![](https://raw.githubusercontent.com/murilo-cunha/inteligencia-superficial/master/images/copied_from_nb/2021-06-13-pandas_and_alternatives/stackoverflow_questions.png "Fonte: https://insights.stackoverflow.com/trends?tags=pandas%2Cnumpy%2Cdask%2Cspacy%2Ctensorflow%2Cpytorch%2Cscikit-learn%2Cpyspark%2Cpostgresql")

AlÃ©m disso, existem vÃ¡rios pontos em que podemos otimizar a performance de pandas. Isso pelo fato da biblioteca ter sido criada em cima de uma outra. Vamos dar uma olhada na performance de pandas.

### Dados

Vamos usar o TPC-H dataset, focando no `lineitem` e `orders`, que sÃ£o as maiores tabelas que somam 1GB. Para medir o tempo de execuÃ§Ã£o, vamos unir as duas tabelas, filtram as linhas, agrupam os dados e computamos alguns dados agregados (mÃ¡ximo, mÃ­nimo, etc.). O que estamos fazendo em si nÃ£o Ã© muito importante, mas Ã© um tipo de transformaÃ§Ã£o que encontrarÃ­amos na vida real.

Vamos tentar otimizar tudo ao mÃ¡ximo, e vamos focar na transformaÃ§Ã£o dos dados

- Vamos medir o tempo da transformaÃ§Ã£o (excluindo o tempo de ler os dados)
- Vamos filtrar o quanto antes
- Vamos encadear operaÃ§Ãµes

In [1]:
# hide
!pip install duckdb pandas 'dask[dataframe]' datatable polars pandasql > /dev/null
!wget -q https://github.com/cwida/duckdb-data/releases/download/v1.0/lineitemsf1.snappy.parquet
!wget -q https://github.com/cwida/duckdb-data/releases/download/v1.0/orders.parquet

In [2]:
# hide
import dask.dataframe as dd
import datatable as dt
import duckdb
import pandas as pd
import polars as pl
from datatable import by, f, g, join

In [3]:
# hide
lineitem = pd.read_parquet("lineitemsf1.snappy.parquet")
orders = pd.read_parquet("orders.parquet")

In [4]:
%%time
lineitem.merge(orders, left_on="l_orderkey", right_on="o_orderkey").pipe(
    lambda df: df.copy()[
        (df["l_shipdate"] < "1998-09-02")
        & (df["o_orderpriority"].isin(("1-URGENT", "2-HIGH")))
    ]
).groupby(["l_returnflag", "l_linestatus"]).agg(
    {
        "l_extendedprice": ["sum", "min", "max", "mean"],
        "l_quantity": ["sum", "min", "max", "mean"],
    }
)

CPU times: user 5.63 s, sys: 2.34 s, total: 7.97 s
Wall time: 8.09 s

                          l_extendedprice                                 \
                                      sum    min       max          mean
l_returnflag l_linestatus
A            F               2.267720e+10  904.0  104949.5  38303.426664
N            F               5.965302e+08  920.0  104049.0  38461.006847
             O               4.473406e+10  901.0  104749.5  38267.695102
R            F               2.268310e+10  906.0  104899.5  38240.140532

                          l_quantity
                                 sum min max       mean
l_returnflag l_linestatus
A            F              15123892   1  50  25.545346
N            F                397729   1  50  25.643391
             O              29826993   1  50  25.515466
R            F              15126938   1  50  25.501645

Executando todas essas transformaÃ§Ãµes demorou 10.3 segundos. Mas podemos ser mais eficientes. Por exemplo, poderÃ­amos esquecer vÃ¡rias colunas jÃ¡ que no fim sÃ³ estamos interessados em `l_returnflag`, `l_linestatus`, `l_extendedprice` e `l_quantity` (alÃ©m das colunas que usamos para filtrar os dados). TambÃ©m somos ineficientes quando temos de filtrar e agregar os valores (escaneamos a tabela duas vezes, quando poderÃ­amos fazer isso de uma vez sÃ³). AlÃ©m disso, poderÃ­amos melhorar na implementaÃ§Ã£o de paralelismo e do algoritmo.

Vamos entÃ£o deixar pandas de lado e ver como podemos melhorar isso.

![](https://media.giphy.com/media/EPcvhM28ER9XW/giphy.gif)

## Dask

[Dask](https://docs.dask.org/en/latest/dataframe.html) provavelmente Ã© a primeira soluÃ§Ã£o que vem Ã  cabeÃ§a. Dask basicamente cria vÃ¡rias tabelas em pandas e vai paralelizando as operaÃ§Ãµes em cores diferentes. TambÃ©m Ã© mais eficiente por usar [avaliaÃ§Ã£o preguiÃ§osa](https://pt.wikipedia.org/wiki/Avalia%C3%A7%C3%A3o_pregui%C3%A7osa) (lazy evaluation) - primeiro traÃ§amos o que queremos fazer e depois mandamos o computador executar as transformaÃ§Ãµes. Isso nos deixa otimizar a computaÃ§Ã£o das transformaÃ§Ãµes (por exemplo, podemos filtrar linhas antes de fazer qualquer outra coisa, mesmo que o cÃ³digo nÃ£o represente isso).

![](https://media.giphy.com/media/26ufnwz3wDUli7GU0/giphy.gif)

In [5]:
# collapse
# dask
dd_lineitem = dd.from_pandas(lineitem, npartitions=1)
dd_orders = dd.from_pandas(orders, npartitions=1)

In [6]:
%%timeit
dd_lineitem.merge(dd_orders, left_on="l_orderkey", right_on="o_orderkey").pipe(
    lambda df: df.copy()[
        (df["l_shipdate"] < "1998-09-02")
        & (df["o_orderpriority"].isin(("1-URGENT", "2-HIGH")))
    ]
).groupby(["l_returnflag", "l_linestatus"]).agg(
    {
        "l_extendedprice": ["sum", "min", "max", "mean"],
        "l_quantity": ["sum", "min", "max", "mean"],
    }
).compute()

6.14 s Â± 20.1 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

Usando Dask e com essas melhorias de parallelismo a gente ganha alguns segundos. O que faz Dask muito popular Ã© o fato de ele imitar a API do Pandas. AÃ­ fica muito mais fÃ¡cil de pegar e comeÃ§ar a codar. Mas ainda assim, estamos usando Pandas. Temos espaÃ§os para melhorias.

## Polars

[Polars](https://pola-rs.github.io/polars-book/) Ã© uma biblioteca implementada em [Rust](https://www.rust-lang.org/), que Ã© muito eficiente em termos de velocidade e uso de memÃ³ria. O lugar de Polars (de acordo com a documentaÃ§Ã£o) Ã© para quando os dados sÃ£o muito grandes para Pandas mas muito pequenos para realizar as transformaÃ§Ãµes num cluster de mÃ¡quinas (Spark). Ou seja, se os dados sÃ£o muito grandes pra sua mÃ¡quina, mesmo depois de filtrar algumas entradas, precisamos procurar outras soluÃ§Ãµes (o que Ã© verdade pra Dask e todas as outras bibliotecas que vamos ver aqui). E assim como Dask, Polars vai usar todas as threads da sua mÃ¡quina.

Uma outra idÃ©ia de Polars Ã© permitir o use da [avaliaÃ§Ã£o ansiosa](https://pt.wikipedia.org/wiki/Avalia%C3%A7%C3%A3o_ansiosa) (eager evaluation), como em Pandas e da [avaliaÃ§Ã£o preguiÃ§osa](https://pt.wikipedia.org/wiki/Avalia%C3%A7%C3%A3o_pregui%C3%A7osa) (lazy evaluation), como em Dask. A availaÃ§Ã£o ansiosa Ã© como em Pandas, e a API Ã© bem parecida. A API da avaliaÃ§Ã£o preguiÃ§osa Ã© um pouco diferente, e Ã© otimizada pelos mesmo motivos que citamos quando falamos de Dask (paralelizaÃ§Ã£o e otimizaÃ§Ã£o das transformaÃ§Ãµes).

![](https://media.giphy.com/media/2FmmbTZMl6lQQ/giphy.gif)

In [7]:
# collapse
# polars
pl_lineitem = pl.DataFrame(lineitem)
pl_orders = pl.DataFrame(orders)

In [8]:
%%timeit
pl_lineitem.join(pl_orders, left_on="l_orderkey", right_on="o_orderkey").filter(
    (pl.col("l_shipdate") < "1998-09-02")
    & (
        (pl.col("o_orderpriority") == "1-URGENT")
        | (pl.col("o_orderpriority") == "2-HIGH")
    )
).groupby(["l_returnflag", "l_linestatus"]).agg(
    {
        "l_extendedprice": ["sum", "min", "max", "mean"],
        "l_quantity": ["sum", "min", "max", "mean"],
    }
)

1.87 s Â± 1.03 s per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [9]:
# hide
# using lazy eval
import time

pl_lineitem = pl_lineitem.lazy()
pl_orders = pl_orders.lazy()

In [10]:
# hide
start = time.monotonic()

# lazy dataframe
_df = (
    pl_lineitem.join(pl_orders, left_on="l_orderkey", right_on="o_orderkey").filter(
        (pl.col("l_shipdate") < "1998-09-02")
        & (
            (pl.col("o_orderpriority") == "1-URGENT")
            | (pl.col("o_orderpriority") == "2-HIGH")
        )
    )
    # could not delay collection - error (not finding `o_orderkey` column)
    .collect()
)
# eager dataframe
_df = _df.groupby(["l_returnflag", "l_linestatus"]).agg(
    [
        pl.sum("l_extendedprice"),
        pl.min("l_extendedprice"),
        pl.max("l_extendedprice"),
        pl.mean("l_extendedprice"),
        pl.sum("l_quantity"),
        pl.min("l_quantity"),
        pl.max("l_quantity"),
        pl.mean("l_quantity"),
    ],
)

print(f"Wall time: {time.monotonic() - start:.2f}s")
_df

Wall time: 1.49s

shape: (4, 10)
â•­â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•®
â”‚ l_returnf â”† l_linesta â”† l_extende â”† l_extende â”† ... â”† l_quantit â”† l_quanti â”† l_quanti â”† l_quanti â”‚
â”‚ lag       â”† tus       â”† dprice_su â”† dprice_mi â”†     â”† y_sum     â”† ty_min   â”† ty_max   â”† ty_mean  â”‚
â”‚ ---       â”† ---       â”† m         â”† n         â”†     â”† ---       â”† ---      â”† ---      â”† ---      â”‚
â”‚ str       â”† str       â”† ---       â”† ---       â”†     â”† i64       â”† i64      â”† i64      â”† f64      â”‚
â”‚           â”†           â”† f64       â”† f64       â”†     â”†           â”†          â”†          â”†          â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ "N"       â”† "O"       â”† 4.4734055 â”† 901       â”† ... â”† 29826993  â”† 1        â”† 50       â”† 25.51546 â”‚
â”‚           â”†           â”† 41680963e â”†           â”†     â”†           â”†          â”†          â”† 60870145 â”‚
â”‚           â”†           â”† 10        â”†           â”†     â”†           â”†          â”†          â”† 45       â”‚
â”œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¤
â”‚ "R"       â”† "F"       â”† 2.2683095 â”† 906       â”† ... â”† 15126938  â”† 1        â”† 50       â”† 25.50164 â”‚
â”‚           â”†           â”† 360319317 â”†           â”†     â”†           â”†          â”†          â”† 45399755 â”‚
â”‚           â”†           â”† e10       â”†           â”†     â”†           â”†          â”†          â”† 55       â”‚
â”œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¤
â”‚ "A"       â”† "F"       â”† 2.2677199 â”† 904       â”† ... â”† 15123892  â”† 1        â”† 50       â”† 25.54534 â”‚
â”‚           â”†           â”† 025699192 â”†           â”†     â”†           â”†          â”†          â”† 56770730 â”‚
â”‚           â”†           â”† e10       â”†           â”†     â”†           â”†          â”†          â”† 4        â”‚
â”œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¼â•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ•Œâ”¤
â”‚ "N"       â”† "F"       â”† 5.9653021 â”† 920       â”† ... â”† 397729    â”† 1        â”† 50       â”† 25.64339 â”‚
â”‚           â”†           â”† 62000039e â”†           â”†     â”†           â”†          â”†          â”† 13604126 â”‚
â”‚           â”†           â”† 8         â”†           â”†     â”†           â”†          â”†          â”† 36       â”‚
â•°â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â•¯

Com isso conseguimos reduzir o tempo em **<30%** (comparando com Dask)! EntÃ£o, o que ainda podemos melhorar? Quando usamos a avaliaÃ§Ã£o ansiosa, ainda podemos melhorar a execuÃ§Ã£o das queries. AlÃ©m disso, a biblioteca nÃ£o tem tantas funÃ§Ãµes quanto Pandas (e consequentemente Dask). E falando em Pandas, se a API Ã© igual, e vocÃª nÃ£o estÃ¡ satisfeito com ela, provavelmente nÃ£o vai estar muito contente com a API do Polars tambÃ©m.

## Datatable

Se vocÃª gosta de R e estÃ¡ fazendo a transiÃ§Ã£o para python, talvez essa seja uma boa opÃ§Ã£o. Datatable Ã© inspirada pela biblioteca em R [data.table](https://rdatatable.gitlab.io/data.table/). A API Ã© parecida, e tem vÃ¡rias otimizaÃ§Ãµes para tratar com dados grandes. Que cabem **ou nÃ£o** em memÃ³ria (dados que nÃ£o caberiam em memÃ³ria usando Pandas cabem quando usamos Datatable). Essa biblioteca tambÃ©m usa algoritmos que supportam o paralelismo em diferentes [threads](https://pt.wikipedia.org/wiki/Thread_(computa%C3%A7%C3%A3o)), aumentando de novo a velocidade de execuÃ§Ã£o.

![](https://media.giphy.com/media/rGlAZysKBcjRCkAX7S/giphy.gif)

In [11]:
# collapse
# datatable
dt_lineitem = dt.Frame(lineitem)
dt_orders = dt.Frame(orders)

# preparaÃ§Ã£o
dt_lineitem.names = {"l_orderkey": "orderkey"}
dt_orders.names = {"o_orderkey": "orderkey"}

In [12]:
%%timeit
# dt_lineitem.key = "orderkey"  # nÃ£o podemos usar como `key` existem valores repetidos
dt_orders.key = "orderkey"

# executando a query
dt_lineitem[
    (g.o_orderpriority == "1-URGENT") | (g.o_orderpriority == "2-HIGH"),
    :,
    join(dt_orders),
][
    :,
    {
        "sum(l_extendedprice)": dt.sum(f.l_extendedprice),
        "min(l_extendedprice)": dt.min(f.l_extendedprice),
        "max(l_extendedprice)": dt.max(f.l_extendedprice),
        "mean(l_extendedprice)": dt.mean(f.l_extendedprice),
        "sum(l_quantity)": dt.sum(f.l_quantity),
        "min(l_quantity)": dt.min(f.l_quantity),
        "max(l_quantity)": dt.max(f.l_quantity),
        "mean(l_quantity)": dt.mean(f.l_quantity),
    },
    by(f.l_returnflag, f.l_linestatus),
]

1.32 s Â± 106 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

**~10%** do tempo (comparando com Pandas)! VocÃª pode reparar tambÃ©m como a API muda bastante. Pessoalmente, foi um pouco mais trabalhoso pra escrever o cÃ³digo equivalente, mas na documentaÃ§Ã£o eles tambÃ©m oferecem uma comparaÃ§Ã£o da API do Datatable com a API do Pandas, o que ajuda bastante.

AlÃ©m disso, eles tambÃ©m comparam a API do Datatable com SQL. Afinal de contas, SQL Ã© muito usado atÃ© hoje, e mais familiar pra muitas pessoas. AlÃ©m disso, SQL tem sido usado bastante atravÃ©s dos anos e oferece uma maneira eficiente de manipular dados tabulares. Quando os dados aumentam ainda mais e nos tornamos para um mÃ©todo distribuÃ­do como [Spark](https://spark.apache.org/) ainda podemos usar [SparkSQL](https://spark.apache.org/docs/latest/sql-programming-guide.html). Spark e SQL precisam de um [cluster](https://pt.wikipedia.org/wiki/Cluster) e de um [servidor](https://pt.wikipedia.org/wiki/Servidor_(computa%C3%A7%C3%A3o)) prÃ³prio pra executar as transformaÃ§Ãµes. Mas existem algumas bibliotecas que nos permitem usar SQL para manipular dados em dataframes.

## PandaSQL

PandasSQL Ã© uma soluÃ§Ã£o mais antiga. A biblioteca permite usar SQL (SQLite) em tabelas Pandas. VocÃª sÃ³ tem que passar a query em SQL e as variÃ¡veis locais. Por trÃ¡s dos panos, eles criam um [SQL engine](https://pt.wikipedia.org/wiki/Mecanismo_de_armazenamento) usando SQLAlchemy e os mÃ©todos de `to_sql` e `read_sql` de Pandas. O que faz possÃ­vel executar queries em Pandas, mas Ã© um truque, que acaba sendo bem ineficiente em relaÃ§Ã£o a tempo de execuÃ§Ã£o e uso de memÃ³ria #gambiarra

![](https://media.giphy.com/media/L2HCO7avkR5H9MvS9Y/giphy.gif)

In [13]:
# hide_output
from pandasql import sqldf

start = time.monotonic()

_df = sqldf(
    """
SELECT l_returnflag,
       l_linestatus,
       SUM(l_extendedprice),
       MIN(l_extendedprice),
       MAX(l_extendedprice),
       AVG(l_extendedprice),
       SUM(l_quantity),
       MIN(l_quantity),
       MAX(l_quantity),
       AVG(l_quantity)
FROM lineitem AS lineitem
JOIN orders AS orders ON (l_orderkey=o_orderkey)
WHERE l_shipdate <= DATE '1998-09-02'
  AND o_orderpriority IN ('1-URGENT', '2-HIGH')
GROUP BY l_returnflag,
         l_linestatus
""",
    globals(),
)

# o cÃ³digo retorna um erro interno (`OperationalError`) - visite o notebook para mais detalhes
print(f"Wall time: {time.monotonic() - start:.2f}s")
_df

PandaSQLException: (sqlite3.OperationalError) near "'1998-09-02'": syntax error
[SQL:
SELECT l_returnflag,
       l_linestatus,
       SUM(l_extendedprice),
       MIN(l_extendedprice),
       MAX(l_extendedprice),
       AVG(l_extendedprice),
       SUM(l_quantity),
       MIN(l_quantity),
       MAX(l_quantity),
       AVG(l_quantity)
FROM lineitem AS lineitem
JOIN orders AS orders ON (l_orderkey=o_orderkey)
WHERE l_shipdate <= DATE '1998-09-02'
  AND o_orderpriority IN ('1-URGENT', '2-HIGH')
GROUP BY l_returnflag,
         l_linestatus
]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [14]:
# hide
!pip uninstall pandasql -y

Found existing installation: pandasql 0.7.3
Uninstalling pandasql-0.7.3:
  Successfully uninstalled pandasql-0.7.3

NÃ£o muito bom... Mas **deve** existir outro jeito de usar SQL em Pandas, e ainda aproveitando a eficiÃªncia de SQL, nÃ£o? Na verdade sim. Acontece que tem gente que basicamente reconstruiu um servidor de SQL pra ser executado em memÃ³ria, com uma API em python!

## DuckDB

DuckDB permite aos desenvolvedores Ã  executar queries nas suas tabelas em Pandas ou direto de arquivos CSV, parquet, etc. A biblioteca foi desenvolvida com C++ por trÃ¡s dos panos, e tambÃ©m permite paralelizaÃ§Ã£o e otimizaÃ§Ã£o da query. Ou seja, eles evitam problemas que encontramos em outras bibliotecas - antes nÃ³s tinhamos de escanear a tabela duas vezes quando executamos nossa query: uma para filtrar as linhas e outra vez pra agroupar os dados. Isso nÃ£o acontece com DuckDB. Eles tambÃ©m sÃ£o inteligente no uso de memÃ³ria.

TambÃ©m pensando no ambiente python, onde Pandas ainda Ã© prevalente, eles oferecem mÃ©todos para transformar os dados numa tabela Pandas.

![](https://media.giphy.com/media/vIJaz7nMJhTUc/giphy.gif)

In [15]:
# ler arquivos em parquet e colocar em uma dataframe
lineitem = duckdb.query("SELECT * FROM 'lineitemsf1.snappy.parquet'").to_df()
orders = duckdb.query("SELECT * FROM 'orders.parquet'").to_df()

lineitem.head()

,l_orderkey,l_partkey,l_suppkey,l_linenumber,l_quantity,l_extendedprice,l_discount,l_tax,l_returnflag,l_linestatus,l_shipdate,l_commitdate,l_receiptdate,l_shipinstruct,l_shipmode,l_comment
0,1,155190,7706,1,17,21168.23,0.04,0.02,N,O,1996-03-13,1996-02-12,1996-03-22,DELIVER IN PERSON,TRUCK,egular courts above the
1,1,67310,7311,2,36,45983.16,0.09,0.06,N,O,1996-04-12,1996-02-28,1996-04-20,TAKE BACK RETURN,MAIL,ly final dependencies: slyly bold
2,1,63700,3701,3,8,13309.60,0.10,0.02,N,O,1996-01-29,1996-03-05,1996-01-31,TAKE BACK RETURN,REG AIR,"riously. regular, express dep"
3,1,2132,4633,4,28,28955.64,0.09,0.06,N,O,1996-04-21,1996-03-30,1996-05-16,NONE,AIR,lites. fluffily even de
4,1,24027,1534,5,24,22824.48,0.10,0.04,N,O,1996-03-30,1996-03-14,1996-04-01,NONE,FOB,pending foxes. slyly re

In [16]:
%%timeit
# executar uma query na nossa tabela Pandas
duckdb.query(
    """
SELECT l_returnflag,
       l_linestatus,
       SUM(l_extendedprice),
       MIN(l_extendedprice),
       MAX(l_extendedprice),
       AVG(l_extendedprice),
       SUM(l_quantity),
       MIN(l_quantity),
       MAX(l_quantity),
       AVG(l_quantity)
FROM lineitem AS lineitem
JOIN orders AS orders ON (l_orderkey=o_orderkey)
WHERE l_shipdate <= DATE '1998-09-02'
  AND o_orderpriority IN ('1-URGENT', '2-HIGH')
GROUP BY l_returnflag,
         l_linestatus
"""
).to_df()

648 ms Â± 5.47 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

AlÃ©m de ser a mais rÃ¡pida, repare que DuckDB jÃ¡ pega as variÃ¡veis locais quando tentamos executar as queries. A biblioteca tambÃ©m suporta (cÃ³digo testado) vÃ¡rios tipos de SQL, incluindo PostgreSQL, MySQL e SQLite.

# Mais informaÃ§Ãµes

O DuckDB foi a soluÃ§Ã£o mais rÃ¡pida. Mas como vocÃª deve ter imaginado, esse nÃ£o Ã© sempre o caso. Tudo depende do volume de dados que temos e das transformaÃ§Ãµes que vamos fazer. Os [criadores do Datatable](https://www.h2o.ai/blog/speed-up-your-data-analysis-with-pythons-datatable-package/#:~:text=H2O%20AI%20Hybrid%20Cloud&text=Deploy%20models%20in%20any%20environment,%2C%20and%20real%2Dtime%20monitoring.&text=H2O%20Wave%20enables%20fast%20development,light%2Dweight%20Python%20development%20framework.) tambÃ©m comparam o tempo de execuÃ§Ã£o das queries para diferentes cenÃ¡rios. As comparaÃ§Ãµes sÃ£o atualizadas com o passar do tempo e vocÃª pode encontrar os Ãºltimos resultados [aqui](https://h2oai.github.io/db-benchmark/).

Para os interessados, tambÃ©m tem um artigo muito interessante no blog do DuckDB, onde eles explicam um pouco os motivos quais DuckDB tem uma performance elevada Ã  Pandas, e como que podemos otimizar nossas queries (mesmo que sÃ³ em Pandas). Esse post tambÃ©m foi inspirado no blog post deles (as queries e os dados). Vale Ã  pena dar uma olhada.

Quando falamos de Big Data tambÃ©m nÃ£o podemos deixar de falar de outras tecnologias, como Spark, Apache Beam, etc. Quando os dados sÃ£o muito grandes pra uma mÃ¡quina sÃ³, o que nos resta Ã© utilizar um cluster de computadores e paralelizar as computaÃ§Ãµes e dividir o uso de memÃ³ria - [escalabilidade horizontal](https://pt.wikipedia.org/wiki/Escalabilidade). Mas com esses clusters precisamos de uma parte administrativa maior, e nÃ£o seria algo que qualquer um poderia testar rapidamente. Nesse post incluÃ­mos apenas os casos de quando os dados caberiam em uma mÃ¡quina, e estamos avaliando a eficiÃªncia de bibliotecas em python (existem outras bibliotecas em outras linguagens que tambÃ©m sÃ£o bem eficientes).

Em outras palavras, nÃ³s comparamos algumas ferramentas pra um especÃ­fico caso, mas pra determinar a **melhor** ferramenta, precisamos ir de caso-a-caso. Qual o volume de dados? Precisamos um cluster? Qual o tempo de execuÃ§Ã£o aceitÃ¡vel? Qual o nÃ­vel tÃ©cnico da equipe?

In [ ]:
# hide
# deletar os arquivos baixados
!rm lineitemsf1.snappy.parquet
!rm orders.parquet